
body {
  padding: none;
  margin: none;
}

#header {
  height: 75px;
  border-radius: 5px;
  font-family: sans-serif;
}

#header-2{

  height: 225px;
}

#diy, #social{
  padding-right: 25px;
}

#social a{
  padding-left: 10px;
}

#nav a{
  text-decoration: none;
  font-size: 20px;
}

#design, #repurpose, #repair{
  height: 400px;
  margin: 5px;
}

.blogheader{
  text-decoration: none;
  font-size: 50px;

}

#blogcontent{
  min-height: 300px;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  z-index: 1;
  min-width: 160px;
}

.dropdown-content a{
  list-style: none;
  text-decoration: none;
  background-color: white;
  display: block;
}

.show{
  display: block;
}

@media only screen and (min-width: 1500px) {
  .banner {
    width: 100%
  }
  #nav {
    display: inline-flex;
  }
  #socialsmall{
    display: none;
  }

}
@media only screen and (max-width: 1500px), only screen and (max-device-width: 1500px) {
  .banner {
    width: 100%
  }
  #nav {
    display: inline-flex;
  }
}

@media only screen and (min-width: 1000px), only screen and (min-device-width: 1000px) {

  #design, #repurpose, #repair{
    height: auto;
  }
  #socialsmall{
    display: none;
  }
  #social{
    display: inline-block;
  }

}
@media only screen and (max-width: 1000px), only screen and (max-device-width: 1000px) {
  #circles h3{
    display: none;
  }
  #design, #repurpose, #repair{
    height: auto;
  }
}
@media only screen and (max-width: 999px), only screen and (max-device-width: 999px) {

  #social{
    display: none;
  }

  #socialsmall{
    display: inline-block;
  }

}

@media only screen and (max-width: 760px), only screen and (max-device-width: 760px) {
  #nav{
    display: block;
  }
}

@media only screen and (min-width: 680px), only screen and (min-device-width: 680px) {
  #altnav{
    display: none;
  }
}

@media only screen and (max-width: 680px), only screen and (max-device-width: 680px) {
  #nav{
    display: none;
  }
  #altnav{
    display: inline;
    width: 100%;
  }
}
