{% extends 'layout.html' %}
{% block body %}
<div class="w3-image w3-center w3-opacity-max">
<img class="banner" src="{{url_for('static', filename='blog.jpg')}}"/>
</div>

<div class="w3-content" style="padding-top: 10px;">
  {% for post in posts %}
  <div class="w3-card-2 w3-hover-dark-gray w3-hover-text-pink w3-center w3-margin-top">
  <a class="blogheader" href="{{url_for('article', post_id=post.id)}}">{{post.title}}</a>
  <hr>
  <h2>{{post.subtitle}}</h2>
  <h3>Date: {{post.date.strftime("%b %d, %Y")}}</h3>
  <h3>Posted By: {{post.author}}</h3>
  </div>
  {% endfor %}



</div>



{% endblock %}
