{% extends 'layout.html' %}
{% block body %}
<div class="w3-image w3-center w3-opacity-max">
<img src="{{url_for('static', filename='contact.jpg')}}"/>
</div>

<div class="w3-container">
  <div class="w3-container w3-text-dark-gray">
    <h1>Contact Me!</h1>
    <p>I would love to hear from you!</p>
    <p>If you have any questions about pricing, would like an estimate, or just want to say hello, please complete the form below.</p>
  </div>
  <hr class="w3-dark-gray">
  <div class="w3-container">
    <form class="w3-form" action="index.html" method="post">
      <input class="w3-input w3-row w3-quarter" type="text" name="firstname" value="" placeholder="First Name">

    </form>
  </div>

</div>

{% endblock %}
