{% extends 'layout.html' %}
{% block body %}
<div class="w3-image w3-center w3-opacity-max">
<img class="banner" src="{{url_for('static', filename='welcome.jpg')}}"/>
</div>

<div class="w3-container w3-margin-top" id="circles">

  <div class="w3-card-2 w3-circle w3-third w3-center w3-pale-red">
    <img src="{{url_for('static', filename='emblem.png')}}">
    <h1>Design</h1>
    <h3>
      Create A New Piece
    </h3>

  </div>

  <div class="w3-card-2 w3-circle w3-third w3-center w3-pale-red">
    <img src="{{url_for('static', filename='emblem.png')}}">
    <h1>Re-Purpose</h1>
    <h3>
      Repurpose An Old Piece
    </h3>

  </div>

  <div class="w3-card-2 w3-circle w3-third w3-center w3-pale-red">
    <img src="{{url_for('static', filename='emblem.png')}}">
    <h1>Repair</h1>
    <h3>
      Repair and Reupholster
    </h3>

  </div>



</div>

<div class="w3-container">

  <div id="design" class="w3-card-4 w3-center w3-margin-top w3-dark-grey w3-padding">
    <img src="{{url_for('static', filename='emblem.png')}}">
    <h2>Design</h2>
    <hr>
    <p>
    Design a creative personalized piece of furniture. Every person is unique and by right
    their style of decorating should be personalized. As long as something works I am open to helping
    someone create their own ideas. I do not believe the rules of traditional decorating need apply to everyone.
    If you have an antique window you want to make into a wall hanging or a coffee table, let's do it. Did you find
    some awesome iron works at a yard sale and want it on your wall, why not? Or is it as simple as taking
    a vintage dresser handed down through the years and giving it a face lift? Paint and new hardware go a long way
    towards making a unified and coheisive design that is unique to you.
    </p>
  </div>

  <div id="repurpose" class="w3-card-4 w3-center w3-margin-top w3-pink w3-padding">
    <img src="{{url_for('static', filename='emblem2.png')}}">
    <h1>Repurpose</h1>
    <hr>
    <p>
    I touched on repurpose in *Design* and I must reiterate that I am open to taking something from its traditional
    definition of use and making it into something useable and beautiful. I have made plaques from antique door knockers,
    tufted benches from out dated oak coffee tables, key hooks from dovetailed drawers, and dinning tables from bed rails.
    I am a child of the ideal "waste not" why should a completely good piece of wood be feul for the fire when it can
    spend another lifetime with a different use. Furniture is expensive and the vintage forms of furniture making and
    cabinet making left treasure troves of useable and lasting materials for generations.
    </p>
  </div>

  <div id="repair" class="w3-card-4 w3-center w3-margin-top w3-dark-gray w3-padding">
    <img src="{{url_for('static', filename='emblem.png')}}">
    <h1>Repair</h1>
    <hr>
    <p>
    Repairing vitage furniture provides with chic and stylish furniture and decor at a fraction of the cost. Two of the most
    common forms of repair I am confronted with are upholstery and caning. Caning is a form of weaving wooden strips to create
    a decorative and comfortable piece of furniture. I am hopefully in a position to learn this ancient craft from the geriatric
    experts as long as I do not compete with them. I personally outsource this type of repair locally to a non-profit who
    funds our senior citizen center. I personally reupholster smaller furniture, chairs and smaller sofas or settees.
    </p>
  </div>

</div>

{% endblock %}
